navbar {
	display: block;
	height: 3rem;
	padding: .3rem .5rem;
	background-color: #eeee;
	border-bottom: .2rem solid #5a5a5a;
	padding-left: 4rem;
	margin-bottom: 1rem;
	position: relative;
}

navbar * {
	display: inline-block;
}

navbar img {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

navbar div {
	display: block;
	margin-bottom: .25rem;
}
navbar div * {
	display: inline-block;
}

navbar h1, navbar p { margin: 0; }
navbar h1 {
	font-size: 1.25rem;
	margin-right: .5rem;
	color: #000;
}
navbar p { font-size: 1rem; }

navbar span {
	display: inline-block;
	margin-right: 1rem;
}
